<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Controller and Scope</title>
    <!--Angular Material-->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller = "AlumnosController"> 
    <!---No e suna buena practica definirlo
    en la vista el MODELO. Fines de aprendizaje-->
    <h2>ALUMNOS CUADERNO</h2>
    <div class="wrapper">
        <div class="contact-item" ng-repeat="alumno in alumnos | orderBy: 'telefono' "> 
            <!-- Alumno es cada fila u arreglo de la lista dentro del modelo alumnos --> 
            <!-- Alumnos es el modelo? y alumno es una referencia a cada uno de los items del arreglo -->
            <div> {{alumno.nombre}} - {{alumno.telefono}} </div>
            <span> {{alumno.curso}} </span>
        </div>    
    </div>
    <br>
    
    <center>
        <button ng-click="showForm()" ng-hide="formVisibility">
             Añadir 
        </button>
    </center>
    <!-- showForm() cambiará formVisibility de true a false
        hide -> true: oculta el boton
    -->
    <!-- Formualrio para añadir alumno -->
    <div ng-show="formVisibility" class="wrapper">
        <h2>Añadir contactp</h2>
       
            <p>
                 Nombre <input ng-model="nuevoAlumno.nombre" type="text">
            </p>
            <p>
                 Telefono <input type="text" ng-model="nuevoAlumno.telefono">
            </p>
            <p>
                 Curso <input type="text" ng-model="nuevoAlumno.curso">
            </p>
            <p>
                <button ng-click="Save()">Guardar</button>
            </p>
       
    </div>
    
    <!--Scripts-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="js/myapp.js"></script>

</body>
</html>